body{
    background: linear-gradient(to right,#12c2e9,#c472ed,#f64f59);

}
.box{
    height: 90px;
    width: 900px;
    background-color: aquamarine;
    font-family: cursive;
    font-size:  xxx-large;
    border: 3px solid red;
    animation-name: rightmovement;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    flex-wrap:wrap;
}
@keyframes rightmovement{
    from{
        top: 0px;
        left: 0px;
    }
    to{
        top: 0px;
        left: 700px;
    }
}

img{
    float: left;
    width: 100%;
    height: auto;
    display: block;
}

img2{
    float: left;
    }

#head1{
    border: 3px solid brown;
    background-color: lightsalmon;
    width: 500px;
    font-family: cursive;
    font-size: medium;
}

#head{
    border: 3px double green;
    background-color: navajowhite;
    font-family: cursive;
    width: 500px;
    font-size: medium;
 
}
 
ul{
    display:flex ;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
    border: 2px solid black;
    background-color: white;
}






    

    

 
